body {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
    gap: 1em;
}

form {
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    border: 1px solid;
    width: 500px;
}

table, th, td {
    border: 1px solid;
    border-collapse: collapse;
    table-layout: auto;
    width: 200px;

  }